.howitworks {
  .bg-faq {
    max-width: 1294px;
    width: 100%;
    margin: auto;
    background: white;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15.35px);
    border-radius: 12px;

    &:before {
      content: "";
      width: 1px;
      position: absolute;
      background: linear-gradient(0deg, #f9ff3800, #f9ff38ad 17.83%, #f9ff3800);
      border-radius: 12.582px 12.582px 0 0;
      left: 0;
      top: 10%;
      height: 70%;
    }
  }

  .faq-content {
    background: #f1f1f6;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15.35px);
    border-radius: 12px;
  }

  .faq-item {
    width: 64.4px;
    height: 54.64px;

    background: #f1f1f6;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15.35px);
    border-radius: 12px;
  }
}
