.referrer-table {
  font-size: 20.97px;

  .referrer-header {
    background: rgba(2, 8, 14, 0.5);
    box-shadow: inset 0px 1.04853px 0px rgba(218, 209, 209, 0.12);
    backdrop-filter: blur(16.0949px);
    border-radius: 12.5823px;
    // width: 1400.19px;
    max-width: 100%;
  }

  .referrer-body {
    // width: 1400.19px;
    max-width: 100%;
    background: #08161f;
    box-shadow: inset 0px 1.04853px 0px rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(16.0949px);
    border-radius: 12.5823px;
  }

  .referrer-row {
    padding: 0px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr;
    gap: 12px;
  }
}

.cell-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.withdraw-table {
  font-size: 20.97px;

  .withdraw-header {
    background: rgba(2, 8, 14, 0.5);
    box-shadow: inset 0px 1.04853px 0px rgba(218, 209, 209, 0.12);
    backdrop-filter: blur(16.0949px);
    border-radius: 12.5823px;
    // width: 1400.19px;
    max-width: 100%;
  }

  .withdraw-body {
    // width: 1400.19px;
    max-width: 100%;
    background: #08161f;
    box-shadow: inset 0px 1.04853px 0px rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(16.0949px);
    border-radius: 12.5823px;
  }

  .withdraw-row {
    padding: 0px 24px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 8fr 2fr 3fr 2fr;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .percent-table {
    font-size: 14.37px;

    .row {
      padding: 0px 12px;
      display: grid;
      grid-template-columns: 1fr 60px 20px 60px;
      gap: 12px;
    }
  }

  .token-details {
    grid-template-columns: 1fr 1fr;
  }
}
